@model PassionProject_n01492913.Models.ViewModels.DetailsProduct
@{
    ViewBag.Title = @Model.SelectedProduct.ProductName;
}

<div style="display: flex; justify-content: space-between; align-items: center; padding-top: 2%;">
    <a href="/Product/List">Back to Products</a>
    <div>
        <a href="/Product/Edit/@Model.SelectedProduct.ProductID" class="text-success">Update</a>
        <a href="/Product/DeleteConfirm/@Model.SelectedProduct.ProductID" class="text-danger">Delete</a>
    </div>
</div>

<h2>@Model.SelectedProduct.ProductName</h2>



<div>
    @{
        string imageurl = "/Content/Images/Products/default.jpg";
        if (Model.SelectedProduct.ProductHasPic)
        {
            imageurl = "/Content/Images/Products/" + Model.SelectedProduct.ProductID + "." + Model.SelectedProduct.PicExtension;
        }
    }
    <div style="width: 50%;">
        <img style="display:block; max-width:100%;" alt="@Model.SelectedProduct.ProductName" src="@imageurl" />
    </div>
    <div>Category: @Model.SelectedProduct.CategoryName</div>
    <div>Product ID: @Model.SelectedProduct.ProductID</div>
    <div>Price: $@Model.SelectedProduct.ProductPrice</div>
</div>

<form action="/Product/Associate/@Model.SelectedProduct.ProductID" method="POST">
    <fieldset>
        <select name="WishlistID">
            <option value="" selected disabled>Add to Wishlist</option>
            @foreach (var wishlist in Model.WishlistOptions)
            {
                <option value="@wishlist.WishlistID">@wishlist.WishlistName</option>
            }
        </select>
        <input type="submit" value="Confirm" />
    </fieldset>
    <a href="/Wishlist/New">Create New Wishlist</a>
</form>

