@model PassionProject_n01492913.Models.ViewModels.DetailsProduct
@{
    ViewBag.Title = @Model.SelectedProduct.ProductName;
}

<a href="/Product/List">Back to Products</a>
<br />
<a href="/Product/Edit/@Model.SelectedProduct.ProductID">Update</a>
<br />
<a style="color:#ab2020;" href="/Product/DeleteConfirm/@Model.SelectedProduct.ProductID">Delete</a>
<h2>@Model.SelectedProduct.ProductName</h2>
<div>@Model.SelectedProduct.CategoryName</div>
<div>@Model.SelectedProduct.ProductID</div>
<div>$@Model.SelectedProduct.ProductPrice</div>

<form action="/Product/Associate/@Model.SelectedProduct.ProductID" method="POST">
    <fieldset>
        <select name="WishlistID">
            <option value="" selected="true" disabled="disabled">Add to Wishlist</option>
            @foreach (var wishlist in Model.WishlistOptions)
            {
                <option value="@wishlist.WishlistID">@wishlist.WishlistName</option>
            }
        </select>
        <input type="submit" value="Confirm" />
    </fieldset>
    <a href="/Wishlist/New">Create New Wishlist</a>
</form>

