@model IEnumerable<PassionProject_n01492913.Models.ProductDto>
@{
    ViewBag.Title = "Products";
}

<a href="/Product/New">Add New Product</a>
<h1>Our Products</h1>
@foreach (var product in Model)
{
    <h2 class="h3"><a href="/Product/Details/@product.ProductID">@product.ProductName</a></h2>
    <div>
        @{
            string imageurl = "/Content/Images/Products/default.jpg";
            if (product.ProductHasPic)
            {
                imageurl = "/Content/Images/Products/" + product.ProductID + "." + product.PicExtension;
            }
        }
        <img style="display:block; max-width:100%;" alt="@product.ProductName" src="@imageurl" />
    </div>
    <div>Category: @product.CategoryName</div>
    <div>Product ID: @product.ProductID</div>
    <div>Price: $@product.ProductPrice</div>
}