@model PassionProject_n01492913.Models.ViewModels.DetailsCategory
@{
    ViewBag.Title = "Details";
}

<div style="display: flex; justify-content: space-between; align-items: center; padding-top: 2%;">
    <a href="/Category/List">Back to Categories</a>
    <a href="/Category/Edit/@Model.SelectedCategory.CategoryID" class="text-success">Update</a>
    <!-- <a style="color:#ab2020;" href="/Category/DeleteConfirm/@Model.SelectedCategory.CategoryID">Delete</a> -->
</div>

<h2>@Model.SelectedCategory.CategoryName</h2>

<div>
    @foreach (var product in Model.CategorizedProducts)
    {
        <h3><a href="/Product/Details/@product.ProductID">@product.ProductName</a></h3>
        <div style="width: 50%;">
            @{
                string imageurl = "/Content/Images/Products/default.jpg";
                if (product.ProductHasPic)
                {
                    imageurl = "/Content/Images/Products/" + product.ProductID + "." + product.PicExtension;
                }
            }
            <img style="display:block; max-width:100%;" alt="@product.ProductName" src="@imageurl" />
        </div>
        <div>Product ID: @product.ProductID</div>
        <div>Price: $@product.ProductPrice</div>
    }
</div>

