@model PassionProject_n01492913.Models.ViewModels.ProductsWishlist
@{
    ViewBag.Title = @Model.SelectedWishlist.WishlistName;
}

<a href="/Wishlist/List">Back to Your Wishlists</a>
<br />
<a href="/Wishlist/Edit/@Model.SelectedWishlist.WishlistID">Update</a>
<br />
<a style="color:#ab2020;" href="/Wishlist/DeleteConfirm/@Model.SelectedWishlist.WishlistID">Delete</a>
<h2>@Model.SelectedWishlist.WishlistName</h2>
<div>Wishlist ID: @Model.SelectedWishlist.WishlistID</div>

<div>
    @foreach (var product in Model.RelatedProducts)
    {
        <a href="/Product/Details/@product.ProductID">@product.ProductName</a>
        <div>@product.CategoryName</div>
        <div>@product.ProductPrice</div>

        <a style="color:#ab2020;" href="/Product/Unassociate/@product.ProductID?WishlistID=@Model.SelectedWishlist.WishlistID">Remove from Wishlist</a><br />
    }
</div>
